h1, h3 {
  color: #fef5f5;
  margin: 0;
  text-align: center; }

.city-search {
  background-color: #5c5252cc;
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem; }

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 0 0; }
  form input, form button {
    box-shadow: 0px 8px 19px 0px #0c090a;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    min-height: 3rem;
    padding: 0 1rem 0 1rem; }
  form input {
    background-color: #1e1c1cb3;
    border: 0;
    color: #fef5f5; }
  form .city-input {
    border-radius: 10px 0 0 10px;
    margin: 0 .3rem 1rem 0; }
  form button {
    background-color: #0c090a;
    border: 2px #0c090a;
    border-radius: 0 10px 10px 0;
    color: #ff2600;
    height: 3rem; }
  form button:hover {
    background-color: #ff0000;
    color: #0c090a; }
