.user-questions {
  background-color: #bcb1b1d6;
  border: 0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 2rem auto;
  width: 30rem; }
  .user-questions h2 {
    background-color: #fef5f5d9;
    border-radius: 12px 12px 0 0;
    color: #ff0000;
    text-align: center;
    margin: 0;
    padding: .8rem; }
  .user-questions .question-btn {
    border-radius: 10px;
    display: block;
    margin: 2rem auto 1rem; }

label {
  display: block;
  padding-left: 2rem; }
  label input {
    box-shadow: none;
    height: 1.5rem;
    padding: 0;
    margin: 0 1rem 0 0;
    vertical-align: bottom;
    position: relative;
    top: .7rem;
    width: 1.5rem; }

input[type="checkbox"]:checked + label {
  background-color: #f50a0a;
  color: red;
  outline: 0; }

label:hover {
  cursor: pointer; }
