.navbar {
  background-color: rgba(255, 0, 0, .7);
  display: flex;
  flex: 1;
  height: 8rem;
  justify-content: center;
  padding: .5rem;
    h1 {
      flex: 1;
      font-family: 'Paytone One', sans-serif;
      font-size: 4rem;
      margin: 0;
    }
}