.meetup {
  background-color: #f7eeeeba;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 3px rgba(43, 38, 38, 0.91);
  color: #280303;
  margin: 0 0 1rem 0;
  padding: 0 0 .2rem 0; }
  .meetup h4, .meetup a {
    margin: 1.5rem; }
  .meetup h2 {
    background-color: #fff5f5c7;
    border-radius: 12px 12px 0 0;
    margin: 0;
    padding: .5rem;
    text-align: center; }
  .meetup span {
    color: #494545;
    margin: 0 0 0 1rem; }
  .meetup a {
    color: #ff0000;
    display: block; }
